.container{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: fit-content;
}
.card{
    width: 300px;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
}
.card h3, p{
    text-align: left;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin: auto;
    display: block;
    width: 100%;
    background-color: #2F80ED;
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}